---
title: Projektstart
date: "2024-02-02"
keywords: ["planning"]
---

**Webshop**

Hej


<script>
  import { CodeBlock } from '@skeletonlabs/skeleton';
  </script>
  
  <div style=" margin:auto; width:70vw;">
  <CodeBlock language="html" code={`<div>This is meta</div>`}>
  </CodeBlock>
  </div>
